.divform {
    width: 940px;
    background-color: rgb(39,150,100);
    margin: 0 auto;
    box-sizing: border-box;
}

.divform fieldset{
    border: none;
}

.label{
    font-size: 20px;
    padding: 8px 0 6px 0;    
}

.divform input[type=text], .divform input[type=email], .divform input[type=telefone]{
    width: 910px;
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid darkgray;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
.divform select{ 
    width: 100%;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    font-size: 10px;
}
select{margin-top: 2px;}

assunto{
    width: 910px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid purple;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;

}

.botoes[input=reset], .botoes[input=submit]{
    color:#fff;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}
.botoes[input=reset]:hover, .botoes[input=submit]:hover{
    background-color: #fff;
    color:#470864}
